[submodule "PyRep"]
	path = PyRep
	url = https://github.com/stepjam/PyRep.git
[submodule "YARR"]
	path = YARR
	url = https://github.com/ShahRutav/YARR.git
	branch = task_spec
[submodule "RLBench"]
	path = RLBench
	url = https://github.com/MohitShridhar/RLBench.git
	branch = peract
